.root {
    text-align: start;
}

.root ol > li:not(:last-child) {
    margin-bottom: 0.25rem;
}

.root .header {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}

.pronunciation {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.375rem;
}

.pronunciation .replay-button {
    height: 100%;
    align-items: center;
    vertical-align: unset;
    margin: unset;
}

.pronunciation .replay-button svg {
    width: 20px;
    height: 20px;
}

.pronunciation .replay-button svg circle {
    fill: var(--button-bg);
    stroke: var(--fg)
}

.pronunciation .replay-button svg path {
    fill: var(--fg-subtle)
}

.text-subtle {
    color: var(--fg-subtle);
}

.text-disabled {
    color: var(--fg-disabled);
}

.text-blue {
    color: var(--flag-4);
}

.mr-3 {
    margin-right: 0.75rem
}
